.Root {
  position: relative;
    width: 100%;
    height: 180px;
}
.Item {
  position:absolute;
  bottom: 0px;
  width: 100%;
  /*background-color: linear-gradient(#000, #FFF);*/
}

.Restaurant-Image {
  height: 180px;
  width: 100%;
}
